.cover{
	background-image: url("../img/dance_1.jpg");
	background-size: 100%;
	padding-top: 30px;
	padding-bottom: 50px;
}
.cover h1{
	font-family: DolceVita;
	font-size: 80px;
	letter-spacing: 10px;
	padding: 50px 0 0 100px; 
	color: #e7ebed;
}
.cover p{
	white-space: pre;
	margin-top: -20px; 
	color: #e7ebed;
}
.button1{
	background-color: black;
	padding: 1% 3%;
	margin-left: 115px;
	border-radius: 3px;
	border: none;
}
.button1:hover{
	background: #323232;
}
.imgdeco{
	margin-top: -30px;
}
.button2{
	background: #192951;
	padding: 2% 8%;
	margin-left: 330px;
	margin-bottom: 7%;
	border-radius: 5px;
}
.button2:hover{
	background: #323232;
}
.bg1{
	background-image: url("../img/instructor_4.jpg"), url("../img/profesor_9.jpg");
	background-size: 50%, 50%;
	background-repeat: no-repeat;
	background-position: left top, right top;
	height: 300px;
}
.button3{
	width: 40%;
	height: 80px;
	background-color: #192951;
	margin: 220px auto; 
	padding: 2.5%;
}
.dir{
	white-space: pre-wrap; 
	color: #e7ebed;
	margin-left: -40px;
}
.bg2 h2{
	margin-bottom: -20px;
}
.bg2 iframe{
	margin-bottom: 10%;
}
.bg4{
	background-image: url("../img/textura_2.jpg");
}

















